<div class="home-container">
  <div class="home-text">
      <h1 class="home-text-title">
          Quais jogos a galera gosta mais?
      </h1>
      <h3 class="home-text-subtitle">
          Clique no botão abaixo e saiba quais são os jogos que os gamers estão escolhendo!
      </h3>
      <div class="home-actions">
          <button class="home-btn" (click)="goToRecords()">
              QUERO SABER QUAIS SÃO
          </button>
          <div class="home-btn-icon">
              <img src="../../../assets/arrow.svg">
          </div>
      </div>
  </div>
  <img src="../../../assets/gamer.svg" className="home-img"/>
</div>
